In [2]:
import pandas as pd
import zipfile
from io import BytesIO
import requests

In [7]:
# importing necessary modules
import requests, zipfile
from io import BytesIO
print('Downloading started')

#Defining the zip file URL
url = "https://meps.ahrq.gov/mepsweb/data_files/pufs/h209/h209xlsx.zip"

# Split URL to get the file name
filename = url.split('/')[-1]

# Downloading the file by sending the request to the URL
req = requests.get(url)
print('Downloading Completed')

# extracting the zip file contents
zipfile= zipfile.ZipFile(BytesIO(req.content))
zipfile.extractall('./Resources')

Downloading started
Downloading Completed

In [ ]:
# importe required libraries
import openpyxl
import csv

print("Loading Workbook")

# open given workbook
# and store in excel object
excel = openpyxl.load_workbook("../Resources/h209.xlsx")

# select the active sheet
sheet = excel.active

print("Writing Workbook")

# writer object is created
col = csv.writer(open("../Resources/2018.xlsx",
					'w',
					newline=""))

# writing the data in csv file
for r in sheet.rows:
	# row by row write
	# operation is perform
	col.writerow([cell.value for cell in r])

print("Writing to DF")

# read the csv file and
# convert into dataframe object
test_fyc = pd.DataFrame(pd.read_csv("../Resources/2018.xlsx"))

# show the dataframe
test_fyc.head()

Loading Workbook

In [13]:
col_list = ['PID', 'FAMSZE18', 'REGION18', 'ENDRFY18', 'AGE18X', 'SEX', 'RACEV1X', 'EDUCYR', 'HIDEG', 'TTLP18X', 'ADBMI42', 'ADOFTB42', 'UNINS18', 'TOTEXP18', 'TOTSLF18', 'TOTMCR18', 'TOTMCD18', 'TOTVA18', 'TOTPTR18', 'TOTOTH18'] 
fyc_raw = pd.read_excel('../Resources/h209.xlsx', usecols=col_list)

fyc_raw.head()

,PID,FAMSZE18,REGION18,ENDRFY18,AGE18X,SEX,RACEV1X,EDUCYR,HIDEG,ADBMI42,ADOFTB42,TTLP18X,UNINS18,TOTEXP18,TOTSLF18,TOTMCR18,TOTMCD18,TOTVA18,TOTPTR18,TOTOTH18
0,101,2,2,2018,27,2,1,16,4,21.4,3,32000,2,2368,225,0,2037,0,107,0
1,102,2,2,2018,25,1,1,17,4,30.6,3,0,2,2040,136,0,0,0,1904,0
2,101,6,2,2018,34,2,1,10,3,28.2,3,25000,2,173,74,0,0,0,99,0
3,102,6,2,2018,39,1,1,10,3,28.7,3,30000,2,0,0,0,0,0,0,0
4,103,6,2,2018,11,1,1,4,8,-1.0,-1,0,2,103,69,0,0,0,34,0

In [14]:
fyc_raw.to_csv("2018_fyc", index=None, header=True)

In [15]:
df_fyc_raw = pd.DataFrame(pd.read_csv("2018_fyc"))
df_fyc_raw.head()

,PID,FAMSZE18,REGION18,ENDRFY18,AGE18X,SEX,RACEV1X,EDUCYR,HIDEG,ADBMI42,ADOFTB42,TTLP18X,UNINS18,TOTEXP18,TOTSLF18,TOTMCR18,TOTMCD18,TOTVA18,TOTPTR18,TOTOTH18
0,101,2,2,2018,27,2,1,16,4,21.4,3,32000,2,2368,225,0,2037,0,107,0
1,102,2,2,2018,25,1,1,17,4,30.6,3,0,2,2040,136,0,0,0,1904,0
2,101,6,2,2018,34,2,1,10,3,28.2,3,25000,2,173,74,0,0,0,99,0
3,102,6,2,2018,39,1,1,10,3,28.7,3,30000,2,0,0,0,0,0,0,0
4,103,6,2,2018,11,1,1,4,8,-1.0,-1,0,2,103,69,0,0,0,34,0

In [ ]:
#Defining the zip file URL
url = "https://meps.ahrq.gov/mepsweb/data_files/pufs/h209/h209xlsx.zip"

# Dowloading zip file
file = zipfile.ZipFile((io.BytesIO(urlopen(url).read())))

# Extracting name over excel file
file_name = file.namelist()[0]

# Reading into DataFrame
fyc = pd.read_excel(file.open(file_name).read())

# Checking results
print(fyc)

In [29]:
# importing necessary modules
import requests, zipfile
from io import BytesIO
print('Downloading started')

#Defining the zip file URL
url = "https://meps.ahrq.gov/mepsweb/data_files/pufs/h209/h209xlsx.zip"

# Split URL to get the file name
filename = url.split('/')[-1]

# Downloading the file by sending the request to the URL
req = requests.get(url)
print('Downloading Completed')

# extracting the zip file contents
zipfile= zipfile.ZipFile(BytesIO(req.content))

fyc = pd.read_excel(zipfile.BytesIO(read_zip(filename)))
fyc.head()

Downloading started
Downloading Completed

NameError: name 'io' is not defined

In [28]:
fyc

In [7]:
fyc_trim = fyc[['PID', 'AGE18X', 'ENDRFY18', 'TTLP18X', 'TOTTCH18', 'TOTEXP18', 'REGION18', 'ADBMI42', 'UNINS18', 'ADTBAC42']]

fyc_trim.head()

,PID,AGE18X,ENDRFY18,TTLP18X,TOTTCH18,TOTEXP18,REGION18,ADBMI42,UNINS18,ADTBAC42
0,101,27,2018,32000,1706,2368,2,21.4,2,1
1,102,25,2018,0,926,2040,2,30.6,2,1
2,101,34,2018,25000,262,173,2,28.2,2,1
3,102,39,2018,30000,0,0,2,28.7,2,2
4,103,11,2018,0,90,103,2,-1.0,2,-1

In [8]:
fyc_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30461 entries, 0 to 30460
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PID       30461 non-null  int64
 1   AGE18X    30461 non-null  int64
 2   ENDRFY18  30461 non-null  int64
 3   TTLP18X   30461 non-null  int64
 4   TOTTCH18  30461 non-null  int64
 5   TOTEXP18  30461 non-null  int64
 6   REGION18  30461 non-null  int64
 7   ADBMI42   30461 non-null  float64
 8   UNINS18   30461 non-null  int64
 9   ADTBAC42  30461 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 2.3 MB

In [10]:
fyc_adult = fyc_trim.loc[(fyc_trim['AGE18X'] > 20)]

fyc_adult.head()

,PID,AGE18X,ENDRFY18,TTLP18X,TOTTCH18,TOTEXP18,REGION18,ADBMI42,UNINS18,ADTBAC42
0,101,27,2018,32000,1706,2368,2,21.4,2,1
1,102,25,2018,0,926,2040,2,30.6,2,1
2,101,34,2018,25000,262,173,2,28.2,2,1
3,102,39,2018,30000,0,0,2,28.7,2,2
8,101,36,2018,30217,894,535,2,21.5,2,2

In [12]:
fyc_adult.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21670 entries, 0 to 30459
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PID       21670 non-null  int64
 1   AGE18X    21670 non-null  int64
 2   ENDRFY18  21670 non-null  int64
 3   TTLP18X   21670 non-null  int64
 4   TOTTCH18  21670 non-null  int64
 5   TOTEXP18  21670 non-null  int64
 6   REGION18  21670 non-null  int64
 7   ADBMI42   21670 non-null  float64
 8   UNINS18   21670 non-null  int64
 9   ADTBAC42  21670 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 1.8 MB

In [13]:
fyc_adult.head(20)

,PID,AGE18X,ENDRFY18,TTLP18X,TOTTCH18,TOTEXP18,REGION18,ADBMI42,UNINS18,ADTBAC42
0,101,27,2018,32000,1706,2368,2,21.4,2,1
1,102,25,2018,0,926,2040,2,30.6,2,1
2,101,34,2018,25000,262,173,2,28.2,2,1
3,102,39,2018,30000,0,0,2,28.7,2,2
8,101,36,2018,30217,894,535,2,21.5,2,2
9,102,36,2018,227866,8116,7023,2,-1.0,2,-1
12,101,30,2018,31644,800,800,2,28.3,2,2
13,102,32,2018,29244,5445,5233,2,28.9,2,1
17,101,52,2018,94168,0,0,3,31.3,1,2
18,102,30,2018,14000,0,0,3,30.0,1,2
19,103,28,2018,11000,0,0,3,43.1,2,2
21,101,60,2018,5000,358,519,3,21.9,2,2
22,102,54,2018,41750,4882,3058,3,27.6,2,2
23,101,35,2018,69843,2486,1345,2,27.2,2,1
24,102,34,2018,69282,4978,4182,2,28.3,2,1
27,101,71,2018,20644,15208,6754,3,30.1,2,1
28,102,68,2018,10673,47551,12846,3,27.6,2,2
29,101,57,2018,18366,8825,8158,2,23.4,2,2
30,102,59,2018,45000,64598,33450,2,24.3,2,1
34,101,83,2018,10572,5428,4991,3,12.7,2,1

In [19]:
adtins_fyc = fyc_adult.loc[(fyc_adult['UNINS18'] > 1)]

In [20]:
adtins_fyc.head(20)

,PID,AGE18X,ENDRFY18,TTLP18X,TOTTCH18,TOTEXP18,REGION18,ADBMI42,UNINS18,ADTBAC42
0,101,27,2018,32000,1706,2368,2,21.4,2,1
1,102,25,2018,0,926,2040,2,30.6,2,1
2,101,34,2018,25000,262,173,2,28.2,2,1
3,102,39,2018,30000,0,0,2,28.7,2,2
8,101,36,2018,30217,894,535,2,21.5,2,2
9,102,36,2018,227866,8116,7023,2,-1.0,2,-1
12,101,30,2018,31644,800,800,2,28.3,2,2
13,102,32,2018,29244,5445,5233,2,28.9,2,1
19,103,28,2018,11000,0,0,3,43.1,2,2
21,101,60,2018,5000,358,519,3,21.9,2,2
22,102,54,2018,41750,4882,3058,3,27.6,2,2
23,101,35,2018,69843,2486,1345,2,27.2,2,1
24,102,34,2018,69282,4978,4182,2,28.3,2,1
27,101,71,2018,20644,15208,6754,3,30.1,2,1
28,102,68,2018,10673,47551,12846,3,27.6,2,2
29,101,57,2018,18366,8825,8158,2,23.4,2,2
30,102,59,2018,45000,64598,33450,2,24.3,2,1
34,101,83,2018,10572,5428,4991,3,12.7,2,1
35,101,54,2018,20000,1011,730,3,27.4,2,1
36,102,40,2018,40000,1026,731,3,23.4,2,2

In [22]:
adtins_fyc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19670 entries, 0 to 30459
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PID       19670 non-null  int64
 1   AGE18X    19670 non-null  int64
 2   ENDRFY18  19670 non-null  int64
 3   TTLP18X   19670 non-null  int64
 4   TOTTCH18  19670 non-null  int64
 5   TOTEXP18  19670 non-null  int64
 6   REGION18  19670 non-null  int64
 7   ADBMI42   19670 non-null  float64
 8   UNINS18   19670 non-null  int64
 9   ADTBAC42  19670 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 1.7 MB

In [24]:
fyc_18 = adtins_fyc.drop(columns='TOTTCH18')
fyc_18.head(20)

,PID,AGE18X,ENDRFY18,TTLP18X,TOTEXP18,REGION18,ADBMI42,UNINS18,ADTBAC42
0,101,27,2018,32000,2368,2,21.4,2,1
1,102,25,2018,0,2040,2,30.6,2,1
2,101,34,2018,25000,173,2,28.2,2,1
3,102,39,2018,30000,0,2,28.7,2,2
8,101,36,2018,30217,535,2,21.5,2,2
9,102,36,2018,227866,7023,2,-1.0,2,-1
12,101,30,2018,31644,800,2,28.3,2,2
13,102,32,2018,29244,5233,2,28.9,2,1
19,103,28,2018,11000,0,3,43.1,2,2
21,101,60,2018,5000,519,3,21.9,2,2
22,102,54,2018,41750,3058,3,27.6,2,2
23,101,35,2018,69843,1345,2,27.2,2,1
24,102,34,2018,69282,4182,2,28.3,2,1
27,101,71,2018,20644,6754,3,30.1,2,1
28,102,68,2018,10673,12846,3,27.6,2,2
29,101,57,2018,18366,8158,2,23.4,2,2
30,102,59,2018,45000,33450,2,24.3,2,1
34,101,83,2018,10572,4991,3,12.7,2,1
35,101,54,2018,20000,730,3,27.4,2,1
36,102,40,2018,40000,731,3,23.4,2,2