In [18]:
# Importing modules
import requests, zipfile
from io import BytesIO

In [19]:
# Downloading the data
print("Beginning Download...")

# Defining the zip file URL
url = "https://meps.ahrq.gov/mepsweb/data_files/pufs/h209/h209xlsx.zip"

# Split URL to get the file name
filename = url.split('/')[-1]

# Downloading the file by sending the request to the URL
req = requests.get(url)
print('Downloading Completed')

# extracting the zip file contents
zipfile= zipfile.ZipFile(BytesIO(req.content))
zipfile.extractall('./Resources')

Beginning Download...
Downloading Completed

In [22]:
# Initializing needed column list
col_list = ['PID', 'FAMSZE18', 'REGION18', 'ENDRFY18', 'AGE18X', 'SEX', 'RACEV1X', 'EDUCYR', 'HIDEG', 'TTLP18X', 'ADBMI42', 'ADOFTB42', 'UNINS18', 'TOTEXP18', 'TOTSLF18', 'TOTMCR18', 'TOTMCD18', 'TOTVA18', 'TOTPTR18', 'TOTOTH18'] 

# Reading necessary columns from excel
print("Reading Excel File...")
excel = pd.read_excel('./Resources/h209.xlsx', usecols=col_list)

# Converting to CSV for faster processing
print("Coverting Excel File to CSV...")
excel.to_csv("./Resources/2018_FYC.csv", index=None, header=True)

# Reading CSV into DF
df_raw = pd.DataFrame(pd.read_csv("./Resources/2018_FYC.csv"))

# Reviewing DataFrame
df_raw.head()

Reading Excel File...
Coverting Excel File to CSV...

,PID,FAMSZE18,REGION18,ENDRFY18,AGE18X,SEX,RACEV1X,EDUCYR,HIDEG,ADBMI42,ADOFTB42,TTLP18X,UNINS18,TOTEXP18,TOTSLF18,TOTMCR18,TOTMCD18,TOTVA18,TOTPTR18,TOTOTH18
0,101,2,2,2018,27,2,1,16,4,21.4,3,32000,2,2368,225,0,2037,0,107,0
1,102,2,2,2018,25,1,1,17,4,30.6,3,0,2,2040,136,0,0,0,1904,0
2,101,6,2,2018,34,2,1,10,3,28.2,3,25000,2,173,74,0,0,0,99,0
3,102,6,2,2018,39,1,1,10,3,28.7,3,30000,2,0,0,0,0,0,0,0
4,103,6,2,2018,11,1,1,4,8,-1.0,-1,0,2,103,69,0,0,0,34,0

In [7]:
fyc_adult = fyc_trim.loc[(fyc_trim['AGE18X'] > 20)]
adtins_fyc = fyc_adult.loc[(fyc_adult['UNINS18'] == 2)]

,PID,AGE18X,ENDRFY18,TTLP18X,TOTTCH18,TOTEXP18,REGION18,ADBMI42,UNINS18,ADTBAC42
0,101,27,2018,32000,1706,2368,2,21.4,2,1
1,102,25,2018,0,926,2040,2,30.6,2,1
2,101,34,2018,25000,262,173,2,28.2,2,1
3,102,39,2018,30000,0,0,2,28.7,2,2
4,103,11,2018,0,90,103,2,-1.0,2,-1